  
  <div>
  <img src="/assets/Images/logoBlue.svg" alt="No Image" class="logoBlue-art5">
</div>


  <p class="side-text-ayca">JOBS</p>

  <img src="/assets/Images/ayca-bottle.JPG" alt="No Image" class="ayca-img">
  <p class="ayca-img-text">A marketplace with a distint sense of simplicity</p>

<br>
<p class="side-text-piller">WORK</p>
  <img src="/assets/Images/pillers.JPG" alt="No Image" class="piller-img">
  <p class="piller-img-text">A first of a kind international spirits festival in Mumbai</p>
<br>

<p class="side-text-ayca-sec">WORK</p>
  <img src="/assets/Images/ayca-bottle.JPG" alt="No Image" class="ayca-sec-img" >
  <p class="ayca-sec-img-text">A marketplace with a distint sense of simplicity</p>
<br>

<p class="side-text-artwork">WORK</p>
  <img src="/assets/Images/artwork.JPG" alt="No Image" class="artwork-img">
  <p class="artwork-img-text">A digital home for an upcoming art space</p>

  <br>

  <div>
      <div class="office-img-text">
        <h2>An Office for 1st Main</h2>
        <p>In October 2017, 1st Main was born, and of that process was reconstructing
            an office space that was almost 20 years old. It was located in Raheja Arcade,
            Koramangala one of the oldest...
        </p>
        <a href="">READ POST ON MEDIUM</a>
      </div>
  <img src="/assets/Images/office.jpg" alt="No Image" class="office-img">

</div>

<div class="footer">
<div class="join-our-team">
    <h2>Join Our Team</h2>
    <p>Do you love bringing design, technology and communication
        together? Join our team of expert storytellers, designers and developers
    </p>
   <a href=""> <h3>VIEW JOBS</h3></a>
</div>

<div class="partner-with-us">
    <h2>Partner With Us</h2>
    <p>We work with organizations that believe design and technology can 
        enrich the lives of their business and make an impact
        on their employees and customers.
    </p>
    <a href=""><h3>LET'S TALK</h3></a>
</div>
</div>

  
  
   