<div id="mySidenav" class="sidenav">
    <br><br><br>
    <svg xmlns="http://www.w3.org/2000/svg" class="openbtn" id="openbtnhide" (click)="openNav()" width="24" height="24" viewBox="0 0 24 24"><path d="M24 6h-24v-4h24v4zm0 4h-24v4h24v-4zm0 8h-24v4h24v-4z"/>&#9776;</svg>
    <br><br>
    <p class="Menu" id="MenuHide">MENU</p>
    
    <a href="javascript:void(0)" class="closebtn" id="closebtnhide" (click)="closeNav()">&times;</a> <br><br><br>
      <img src="/assets/Images/logoWhite.svg" class="logoWhite" alt="No Image">
    <br><br><br><br><br>
    <a href="#" (click)="artfunction()">Artboard 1</a>
    <a routerLink="art2" (click)="artfunction()">Artboard 2</a>
    <a routerLink="art3" (click)="artfunction()">Artboard 3</a>
    <a routerLink="art4" (click)="artfunction()">Artboard 4</a>
    <a routerLink="art5" (click)="artfunction()">Artboard 5</a>
   <br><br><br>
    <p class="mailID">Contact@1stmain.co <br> <br>INSTAGRAM | LINKEDIN | MEDIUM</p>
  </div>