<div class="animation">
    <img src="/assets/Images/logoWhite.svg" class="animation-img" alt="No Image">
  <p class="animation-text"> A full Service Digital Agency </p>
  </div>
  
  
  <img src="/assets/Images/logoBlue.svg" alt="No Image" class="logoBlue">
  <br>
  <div class="content-blog">
   <p class="content"> We're a digital design agency. We help make your ideas into products that people will love to use. </p>
   <a href=""><p class="works">SEE OUR WORKS</p></a>
   <a href=""><p class="aboutUS">MORE ABOUT US</p></a>
  </div>
  
  <div  class="ImageTag">
  <p>FEATURED WORK</p>
  </div>
  
   <div class="sideImage">
    
     <img src="/assets/Images/bowl.JPG" alt="NO Image">
   </div>
   